body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    /* background-color: #e6e6e6; */
    background-image: url("../images/newspaper.jpg");
    background-size: cover;
    background-position: top;
    position: relative;
}

#articleWrapper {
    padding: 30px;
    color: white;
    background-color: rgba(0, 68, 255, 0.95);
    height: 60vh;
    overflow-y: scroll;
}

.linkHb {
    color: rgb(136, 255, 0);
    margin-left: 5px;
    font-weight: bolder;
}

.savebutton{
    color: black;
    padding: 5px 15px;
}

.individArticle{
    padding: 20px;
    border: solid 1px black;
}